<div class="card rp" style="width: 90%">
  <div class="bg" style="width: 100%">
    <h1 class="text">Book Details</h1>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-3 col-sm-12 zoom">
        <img
          [src]="
            'https://bookcart.azurewebsites.net/Upload/' +
            bookDetail.coverFileName
          "
        />
      </div>

      <div class="col-md-5 col-sm-12">
        <div style="font-size: 15px">
          <table class="table">
            <tr>
              <td class="padding"><strong>Title</strong></td>
              <td class="padding">{{ bookDetail.title }}</td>
            </tr>
            <tr>
              <td class="padding"><strong>Author</strong></td>
              <td class="padding">{{ bookDetail.author }}</td>
            </tr>
            <tr>
              <td class="padding"><strong>category</strong></td>
              <td class="padding">{{ bookDetail.category }}</td>
            </tr>
            <tr>
              <td class="padding"><strong>Price</strong></td>
              <td class="padding">{{ bookDetail.price }}</td>
            </tr>
          </table>
        </div>

        <div class="detailsbtn">
          <button class="btn btn-primary additembtn" (click)="addToCart()">
            <span class="material-icons" style="margin-right: 10px; size: 1px"
              >shopping_cart</span
            ><span> Add to cart</span>
          </button>
          <button
            class="btn btn-primary additembtn"
            [ngStyle]="{
              'background-color': isPresentInWishlist ? 'red' : 'green'
            }"
            (click)="addToWhisList()"
          >
            <span class="material-icons" style="margin-right: 10px">
              favorite </span
            ><span *ngIf="!isPresentInWishlist">Add to Whislist</span
            ><span *ngIf="isPresentInWishlist">Remove from Whislist</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<br />
<div class="card rp" style="width: 90%">
  <div class="bg" style="width: 100%">
    <h1 class="text">Similar Books</h1>
  </div>
  <div class="card-body">
    <div class="row">
      <div
        class="card shadow"
        style="width: calc(20% - 0.5rem); padding: 0"
        *ngFor="let item of similarId"
      >
        <div style="height: 250px" class="image">
          <img
            style="height: 250px; width: 100%"
            [src]="
              'https://bookcart.azurewebsites.net/Upload/' + item.coverFileName
            "
          />

          <div class="content hoverOnTitle">
            <P style="color: white; margin: 0">{{ item.title }}</P>
          </div>
        </div>
        <div class="material-icons absolute hearticon">
          <span> favorite </span>
        </div>
        <div class="card-body">
          <p style="color: blue">
            <b>{{ item.title }}</b>
          </p>
          <p>{{ item.price }}</p>
          <button class="btn btn-secondary addbtn">
            <span class="material-icons" style="margin-right: 10px; size: 1px"
              >shopping_cart</span
            ><span> Add to cart</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
